$nb-color: #ffffff;
$theme-color: #07E0FF;

$color-primary: #000;
$color-secondary: #FAE522;

$default-padding: 70px;

$screen-sm: 768px;
$screen-md: 992px;
$screen-hd: 1440px;

@mixin extra-bold_italic {
	font-weight: 900;
	font-style: italic;
	color: $color-primary;
}

@mixin reset-input {
	border-radius: initial;
	border: initial;
}

@mixin black-italic {
	font-weight: 900;
	font-style: italic;
}

@mixin padding()
{
	@media screen and (min-width: $screen-md) {
		padding-left: $default-padding;
		padding-right: $default-padding;
	}
}