@import "settings";


body,
h1,h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
}
.dropdown-menu {
	a {
		color: #000!important;
		&:hover {
			color: darken($theme-color, 10%)!important;
		}
	}
	&.show {
		left: -45px;
	}
}
[v-cloak] {
	display: none;
}
.nav-login{
	padding: 0;
	margin-right: 7rem;
}
.navbar-toggler {
	.fa.fa-bars {
		color: white;
		font-size: 1.5em;
	}
}
#navbar {
	.nav-item.item.active {
		border-bottom: 1px solid gray;
	}
	@include padding();
	background-color: $nb-color;
	border-bottom: 1px solid #C4C4C4;
	height: 115px;
	.header-logo {
		width: 100%;
	}
	.menu {
		.item {
			&:nth-child(n+1) {
				margin: 0 .9em;
			}
		}
		.item-workshops {
			background: yellow;
    		padding: 0 18px;
		}

	}
	a {
		// $color: #fff;
		color: $color-primary;
		text-decoration: none;
		transition: all .4s;
		-webkit-transition: all .4s;
		&:hover {
			color: $theme-color;
		}
	}
	.navbar-nav {
		flex: 1;
	}
	.navbar-nav>li>a{
		// display: inline-block;
		span{
			display: flex;
			@include extra-bold_italic();
			font-size: .9rem;
		}
	}
}
#secondary {
	display: flex;
	padding-left: 0;
	padding-right: 0;
	.form-group {
		&:nth-child(1) {
			@media screen and (min-width: $screen-md) {
				flex: 1;
			}
		}
		&:nth-child(2) {
			@media screen and (min-width: $screen-md) {
			}
		}
	}
}
.trophy-0 {
	color: gold;
}
.trophy-1 {
	color: silver;
}
.trophy-2 {
	color: #CD7F32;
}
.content {
	@include padding();
	margin-top: 1em;
}
.files-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: start;
	@media screen and (min-width: $screen-sm) {
		flex-direction: row;
	}
	.file {
		// border: 1px solid #b8b8b8;
		margin-bottom: 2em;
		@media screen and (min-width: $screen-sm) {
			flex: 0 0 23%;
		}
		@media screen and (min-width: $screen-md) {
			flex: 0 0 14%;
		}
		// &:nth-child(2n+2) {
		// 	@media screen and (min-width: $screen-sm) {
		// 		margin-left: 1em;
		// 		margin-right: 1em;
		// 	}
		// }
		&:nth-child(4n) {
			margin-right: 0;
		}
		.file-content {
			padding: 10px 0;
			a {
				color: #000;
				cursor: pointer;
				transition: all .2s;
				-webkit-transition: all .2s;
				&:hover {
					color: darken($theme-color, 10%);
				}
			}
			p>ul {
				padding: 0;
				font-size: .8rem;
				font-weight: 700;
			}
		}
	}
}
.table-dark {
	background-color: $nb-color!important;
}
.tag-search {
	max-width: 300px;
	height: auto!important;
}
.panel-switcher {
	margin: 1.5em 0;
}
.pagination {
	.page {
		margin: 0 0.1em;
		a {
			color: $color-primary;
			font-size: 0.8em;
			&.current-page {
				color: $color-primary;
				font-weight: bold;
				background-color:$color-secondary;
			}
		}
	}
}
.btn-black {
	background-color: $nb-color;
	color: $color-primary;
	cursor: pointer;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	padding: 0;
	&:hover {
		opacity: 0.8;
	}
}

img.thumbnail {
	max-width: 100%;
}

.modal-body img {
	width: 100%;
}

.tip-small {
	font-size: 0.8em;
	font-style: italic;
}

// Pages
.page-login {

}

.register-email-warning {
	// font-size: 1.2em;
	margin: 1em 0;
}
.login-form, .register-form {
	border: 1px solid $nb-color;
	max-width: 100%;
	.card-header {
		background-color: $nb-color;
		border-bottom: initial;
		h1{
			@include black-italic();
			line-height: 1;
			letter-spacing: -2px;
			font-size: 2.2rem;
		}
		h4{
			color: $color-secondary;
			font-size: 1.5rem;
			letter-spacing: -1px;
			font-weight: 600;
		}
	}
	.card-header,
	.card-body {
		padding-left: 0;
		.form-group>
		label{
			margin-bottom: 0;
			@include extra-bold_italic();
			font-size: 1.3rem;
		}
		input{
			background-color: #ECECEC;
			@include reset-input();
		}
		.btn-entrar{
			background-color: $color-secondary;
			@include reset-input();
			@include extra-bold_italic();
			width: 20%;
		}
		.pass,
		.cadastro 
		span {
			@include black-italic();
			font-size: 1rem;
		}
		a{
			color: $color-secondary;
		}
	}
	.register-title {
		h3 {
			@include black-italic();
			padding: 0;
		}
	}
	
	.register-buttons {
		
		display: flex;
		justify-content: end;
		margin: 5px 0 ;
	
		.register-btn,
		.register-btn-cancel {
			@include reset-input();
			background-color: #CBCBC8;
			width: 20%;
		}
		.register-btn{
			margin-right: 2rem;
			background-color: $color-secondary;
			@include extra-bold_italic();
		}
	
	}
}



// WELCOME
.welcome-title {
	h1{
	font-size: 4rem;
	@include extra-bold_italic();
	font-size: 3.9rem;
		-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	
	letter-spacing: -2px;
	margin-top: 5rem;
	}
}
.welcome-text {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 14px;
	font-weight: 100;
}

.welcome-picture {
	margin: auto 0;
	img{
		max-width: 100%;
	}
}

//CAMPANHAS
.page-campanhas {


	.companhas-section {
		h1{
			@include black-italic();
			font-size: 2rem;
		}

		.campanhas-list 
		ul {
			list-style: none;
			padding: 0;
			li {
				display: flex;
				flex-direction: column;
				margin-top: 2.5rem;
				
				span,a {
					@include black-italic();
					font-size: 1.2rem
				}
				
				a{
					color: $color-secondary;
				}
			}
		}
	}

	.campanhas-search {
		margin-top: 3rem;
		.campanhas-search-title > label{
			@include black-italic();
		}
		.comapanhas-search-input,
		input{
			@include reset-input();
			border: 1px solid gray;
		}
	}
}

// Material Institucional
.page-banco,
.page-artes,
.page-institucional {
	h1{
		@include black-italic();
		line-height: 1;
		letter-spacing: -2px;
		font-size: 2.2rem;
	}
	.institucional-text {
		max-width: 70%;
		font-size: .9rem;
	}
	@media screen and (min-width: $screen-hd) {
		.institucional-text {
			max-width: 50%;
		}
	}
	.search {
		label {
		@include black-italic();
		line-height: 0;
		}
		input{
			border-radius: 0;
		}
	}
}
